.experiece_area {
    padding-bottom: unset !important;
}
.experience_text h4 {
    color: #222222;
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    margin-bottom: 18px;
    text-transform: uppercase; 
}
.profile {
    padding-left: 30px;
    margin-top: 20px;
}
.profile_name {
    color: #222222;
    font-size: 1.3rem;
    font-weight: bold;
}
.at {
    font-size: 0.9rem;
    margin: 0 0.5rem;
}
.experienceItem {
    margin-bottom: 40px;
    position: relative;
}
.experienceItem img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.experienceItem:last-child {
    margin-bottom: unset;
}
.companyName {
    color:rgba(0, 104, 201, 0.7);
}
